$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.btn-sq-lg {
  width: 150px;
  height: 150px;
}

.table {
padding: 20px 20px 9px;
margin: 100px auto;
float: right;
}

#signUp .btn.btn-custom {
  font-size: 14px;
	margin-bottom: 20px;
}

form#createMood {
  margin-top: 50px;
}
form.update-mood {
  display: none;
}
